.web__container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(45,45,45,1);
    overflow: scroll;

    .title { 
        position: absolute;
        top: 30px;
        left: 50px;
        font-size: .7em;
        font-weight: 300;
        letter-spacing: 5px;
        color: rgba(186,186,186,1);
    }

    .fourOFour { 
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 5px;
        font-style: oblique;
        color: rgba(11,11,11,1);
        text-shadow: 1px 1px 5px rgba(200,200,200,.3);
    }

    .web__projectListContainer{
        position: absolute;
        top: 10vh;
        left: 0px;
        width: 100vw;
        letter-spacing: 5px;
        font-size: .7em;
        font-weight: 300;

        .web__projectList {
            display: inline-flex;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                opacity: .5;
            }
            .web__badge { 
                position: relative;
                top: 6px;
                border: 1px solid transparent;
                height: 10px;
                width: 10px;
                margin-right: 8px;
                border-radius: 5px;
            }
        }

        .web__projectListSpacer{
            display: inline-flex;
            padding: 0 20px;
            opacity: .15;
        }

        .web__projectListSelected {
            font-weight: 400;
            text-shadow: 1px 1px 5px rgba(200,200,200,.3);
            &:hover {
                opacity: 1;
            }
        }

        .web__projectDesc {
            padding-top: calc(120px - 5vw);
            font-size: .8em;
            font-weight: 300;
            letter-spacing: 5px;
            font-style: oblique;
            color: rgba(186,186,186,.5);
        }
    }

    .web__screenshots {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10vw;

        .web__screenshot {
            width: 30vw;
            height: 30vw;
            max-width: 40vh;
            max-height: 40vh;
        }
        .web__screenshot1 {
            z-index: 1;
            position: relative;
            top: 0vh;
            left: 10vh;
        }
        .web__screenshot2 {
            z-index: 2;
            position: relative;
            top: 5vh;
            left: 0vh;
        }
        .web__screenshot3 {
            z-index: 3;
            position: relative;
            top: 10vh;
            left: -10vh;
        }
    }
}

@media only screen and (max-width: 670px) {
    .web__container {
        .web__projectListContainer {
            top: 80px;
            font-size: .5em; 
            line-height: 25px;
            .web__projectListSpacer{
                display: none;
            }
            .web__projectList {
                .web__badge { 
                    top: 7px;
                    margin-left: 20px;
                }
            }
        }
    }
  }