
.containerLink {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 5px 5px 5px;

    .link {
        display: inline-flex;
        padding: 0 10px 0 0;
        cursor: pointer;

        .logoInsta {
            width: .8em;
            margin-bottom: 2px;
            filter: invert(1);
        }        
        .logoSpotify {
            width: 0.9em;
            margin-bottom: 2px;
            filter: invert(1);
        }        
        .logoRa {
            width: 1.2em;
            margin-bottom: 4px;
            margin-left: 5px;
            filter: invert(1);
        }
        .logoSoundcloud {
            width: 0.9em;
            margin-bottom: 2px;
            margin-left: 2px;
            filter: invert(1);
        }
    }
}
