.welcome__container {
  --backgroundWhiteClose: url('../../img/vanStaenWhiteClose.jpg');
  --backgroundWhiteOpen: url('../../img/vanStaenWhiteOpen.jpg');

  .welcome__welcome {  
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 100vw;
      top: 0;
      left: 0;
      position: absolute;

      .welcome__openeyes {
          position: absolute;
          margin-top: -4vh;
          margin-right: -5vw;
          width: min(550px, 50vw);
          height: min(150px, 20vh);
          border: 1px solid transparent;
          @media all and (max-width: 670px) {
            bottom: 200px;
          }
      }   
  }
  
  .welcome__background {
      position: absolute;
      z-index: 0;
      width: 100vw;
      background-image: var(--backgroundWhiteClose); 
      background-color: cyan;
      background-blend-mode: lighten;
      background-attachment: fixed;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      transition: background-image .2s ease-in-out, filter .5s ease-in-out;
      animation: darken 10s infinite;
      top: 0;
      left: 0;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100vw;
        height: 100%;
        z-index: 1;
        padding-left: 20px;
        background-image: var(--backgroundWhiteClose); 
        background-color: red;
        background-blend-mode: lighten;
        background-size: cover;
        mix-blend-mode: darken;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        transition: background-image .2s ease-in-out;
        animation: slidein 10s infinite;
      } 
      @keyframes slidein {
          0%, 50% {
            translate: 0vw 0;
            opacity: 1;
          }
          54% {
            translate: 100vw 0;
            opacity: 0;
          }
          55% {
            opacity: 0;
            translate: -100vw 0;
          }
          59%, 100% {
            opacity: 1;
            translate: 0vw 0;
          }
        }
      @keyframes darken { 
          0%, 50% {
            filter: grayscale(0);
          }
          54% {
            filter: grayscale(1);
          }
          59%, 100% {
            filter: grayscale(0);
          }
        }
  }
    
  .welcome__loader {
      position: absolute;
      z-index: 0;
      width: 100vw;
      background-color: white;
      top: 0;
      left: 0; 
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: black;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 3px;
      .welcome__imageLoading {
        color: rgba(33, 33, 33, .25);
        font-size: 52px;
        margin-bottom: 20px;
      }
  }
}